@charset "utf-8";
/* CSS Document */


#login-form
{
    width: 400px;
    margin:auto;
    margin-top:70px;
}
table
{
    border:solid #dcdcdc 1px;
    padding:25px;
    box-shadow: 0px 0px 1px rgba(0,0,0,0.2);
    width: 100%;
}
#login-form table tr,td
{
    padding:15px;
}
#login-form table tr td input
{
    width:97%;
    height:45px;
    border:solid #e1e1e1 1px;
    border-radius:3px;
    padding-left:10px;
    font-family: 'Lato', sans-serif;
    font-size:16px;
    background:#f9f9f9;
    transition-duration:0.5s;
    box-shadow: inset 0px 0px 1px rgba(0,0,0,0.4);
}

#login-form table tr td button
{
    width:100%;
    height:45px;
    border:0px;
    background:#7d7d7d;
    background:-moz-linear-gradient(top, #595959 , #515151);
    border-radius:3px;
    box-shadow: 1px 1px 1px rgba(1,0,0,0.2);
    color:#f9f9f9;
    font-family: 'Lato', sans-serif;
    font-size:18px;
    font-weight:bolder;
    text-transform:uppercase;
}
table tr td button:active
{
    position:relative;
    top:1px;
}
table tr td a
{
    text-decoration:none;
    color:#7d7d7d;
    font-family: 'Lato', sans-serif;
    font-size:18px;
}

#footer {
    background-color: #f8f8f8;
    position: fixed;
    bottom: 0;
    width: 99%;
    text-align:center;
    font-size:80%;
    z-index: 100;
}
#footer p {
    border-top:1px solid #b4b4b4;
    margin-top: 0px;
    padding-top: 10px;
    color:#b4b4b4;

}