
body{font-family: Lato}

#navigationbar ul {
    margin: 0;
    padding: 7px 6px 0;
    background: #7d7d7d url(images/overlay.png) repeat-x 0 -110px;
    line-height: 100%;
    border-radius: 1em;
    font-family: 'Lato', sans-serif;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    width: auto;
}
#navigationbar li {
    margin: 0 5px;
    padding: 0 0 8px;

    position: relative;
    list-style: none;
}
#navigationbar a,
#navigationbar a:link {
    font-weight: bold;
    font-size: 13px;
    color: #e7e5e5;
    text-decoration: none;
    display: inline-block;
    padding: 8px 20px;
    margin: 0;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}
#navigationbar a:hover {
    background: #000;
    color: #fff;
}
#navigationbar .active a,


#navigationbar li:hover > a {
    background: #979797 url(images/overlay.png) repeat-x 0 -40px;
    background: #666666 url(images/overlay.png) repeat-x 0 -40px;
    color: #444;
    border-top: solid 1px  #f8f8f8;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    text-shadow: 0 1px 0 #ffffff;
}
#navigationbar ul ul li:hover a,
#navigationbar li:hover li a {
    background: none;
    border: none;
    color: #666;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}
#navigationbar ul ul a:hover {
    background: #7d7d7d url(images/overlay.png) repeat-x 0 -100px !important;
    color: #fff !important;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
#navigationbar li:hover > ul {
    display: block;
}
#navigationbar ul ul {
    z-index: 1000;
    display: none;
    margin: 0;
    padding: 0;
    width: 185px;
    position: absolute;
    top: 40px;
    left: 0;
    background: #ffffff url(images/overlay.png) repeat-x 0 0;
    border: solid 1px #b4b4b4;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}
#navigationbar ul ul li {

    margin: 0;
    padding: 3px;
}
#navigationbar ul ul a,
#navigationbar ul ul a:link {
    font-weight: normal;
    font-size: 12px;
}
#navigationbar ul:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

#mainbody{
    width: 99%;
    position: absolute;
    padding-bottom: 50px;
}

.left{
    float: left;
}

.right {
    font-size: 13px;
    color: #e7e5e5;
    text-align: center;
    float: right;

}

#logoutForm{
    display: inline;
}

#footer {
    background-color: #f8f8f8;
    position: fixed;
    bottom: 0;
    width: 99%;
    text-align:center;
    font-size:80%;
    z-index: 100;
}
#footer p {
    border-top:1px solid #b4b4b4;
    margin-top: 0px;
    padding-top: 10px;
    color:#b4b4b4;

}

#popup {
    width:65%;
    left: 0;
    right: 0;
    top: 20px;
    border: solid #444 1px;
    margin: auto;
    position:relative;
    height:600px;
    display:none;
    z-index: 100;

    font-family: 'Lato', sans-serif;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

#popup-content{
    overflow: scroll;
    height:100%;
    background-color: #ffffff;
}

.disabled{
    opacity: .5;
    pointer-events: none;
}

#popupClose{
    position:absolute;
    right: 18px;
    top: 0;
}

#jstree{
    position: absolute;
    width: 100%;
    padding-bottom: 40px;
}

#loading{
    width:300px;
    padding-top: 25px;
    left: 0;
    right: 0;
    top: 150px;
    border: solid #444 1px;
    margin: auto;
    position:fixed;
    height:50px;
    background-color: #ffffff;
    text-align: center;
    vertical-align: middle;
    z-index: 200;
    border-radius: 1em;
    font-family: 'Lato', sans-serif;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 5px;
}

#compiler{
    clear: both;
    width: 90%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

#assign{
    clear: both;
    width: 90%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.assign table {
    margin-top: 10px;
    width: 80%;
    float: left;

    text-align: center;
    list-style-type:none;
    list-style-position:outside;
    padding:0px;

}



.assign td{
    text-align: left;
    padding:12px;
    border-bottom:1px solid #eee;
    position:relative;

}

.assign h1{
    display: inline;
}

#sparkimg{
    float: right;
    position: relative;
    width: 100px;
    height: 50px;
    overflow: hidden;
    display: inline;
    border-radius: 0px;
    margin-top: 5px;
}

#hdfslogo{

    float: right;
    position: relative;
    width: 180px;
    height: 75px;
    margin-top: 10px;
    display: inline;
    border-radius: 0px;
    z-index: 100;
}

.assign input+label{
    display: inline-block;
    width: 50px;
}

 input[type='range'] {
     -webkit-appearance: none;
     border-radius: 5px;
     box-shadow: inset 0 0 5px #333;
     background-color: #999;
     height: 10px;
     vertical-align: middle;
 }
input[type='range']::-moz-range-track {
    -moz-appearance: none;
    border-radius: 5px;
    box-shadow: inset 0 0 5px #333;
    background-color: #999;
    height: 10px;
}
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    border-radius: 20px;
    background-color: #FFF;
    box-shadow:inset 0 0 10px rgba(000,000,000,0.5);
    border: 1px solid #999;
    height: 20px;
    width: 20px;
}
input[type='range']::-moz-range-thumb {
    -moz-appearance: none;
    border-radius: 20px;
    background-color: #FFF;
    box-shadow:inset 0 0 10px rgba(000,000,000,0.5);
    border: 1px solid #999;
    height: 20px;
    width: 20px;
}


.assignbut {
    -moz-box-shadow:inset 0px 0px 0px -1px #0f0e0f;
    -webkit-box-shadow:inset 0px 0px 0px -1px #0f0e0f;
    box-shadow:inset 0px 0px 0px -1px #0f0e0f;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
    background:-moz-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
    background:-webkit-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
    background:-o-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
    background:-ms-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
    background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf',GradientType=0);
    background-color:#ededed;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    cursor:pointer;
    color:#777777;
    font-family:Arial;
    font-size:16px;
    font-weight:bold;
    padding:6px 28px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
}
.assignbut:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed));
    background:-moz-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
    background:-webkit-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
    background:-o-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
    background:-ms-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
    background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed',GradientType=0);
    background-color:#dfdfdf;
}
.assignbut:active {
    position:relative;
    top:1px;
}

#parameters{

}

#logo{
    float: right;
    display: block;
    position: relative;
    width: 20%;
}

#jars{
    margin-top: 90px;

}



#monitor-content{
    margin-top: 80px;
    overflow: scroll;
    height:500px;
    width: 78%;
    background-color: #000000;
    float: left;
    border: solid 2px gray;
}

#monitor{
    float: left;
    width: 80%;
    margin-top:10px;
    margin-left: auto;
    margin-right: auto;

}

h4{
    font-size: 18px;
}

.selector{
    font-size: 15px;
    font: 'Lato', sans-serif;
}

#selectapp{
    width: 100%;
    font-family: Consolas,'Lucida Console','DejaVu Sans Mono', monospace;
}

#killapp{
    float: right;
}

.numtd{
    text-align: center
}

#lineselect{
    width: 10%;
}

.photos{
    margin: 20px 0px 0px 20px;
    border: solid 1px;
    float: left;
    position: relative;
    width: 48%;
    height: 460px;
    overflow: hidden;
    display: inline;
    border-radius: 0px;
}

.photos img {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

#logback {
    text-align: center;
}

tr{
    vertical-align: middle;
    valign: middle;
}

.assignforms{
    width: 350px;
}

#assignbut{
    text-align: center;
}